<footer class="bg-light text-center text-lg-start footer-section">
    <div class="container p-4">
        <!-- Social Media Section -->
        <section class="mb-4">
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                <i class="fab fa-linkedin"></i>
            </a>
        </section>

        <!-- Footer Links -->
        <section class="">
            <div class="row">
                <!-- Company Info -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Pinterest Clone</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Careers</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Press</a>
                        </li>
                    </ul>
                </div>

                <!-- Explore Section -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Explore</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark">Trending</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Popular Pins</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Categories</a>
                        </li>
                    </ul>
                </div>

                <!-- Resources Section -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Resources</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark">Help Center</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Business Accounts</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Advertise</a>
                        </li>
                    </ul>
                </div>

                <!-- Legal Section -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Legal</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-dark">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#" class="text-dark">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <!-- Copyright Section -->
    <div class="text-center p-3 bg-dark text-white">
        © 2024 Pinterest Clone | All rights reserved.
    </div>
</footer>