.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: 200px; /* You can adjust the height as per your need */
    object-fit: cover; /* Ensures the image fits the container without distortion */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    margin-top: auto;
  }
}
